<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>검색 결과</title>
  </head>
  <body>
    <h1>검색 결과</h1>
    <p>검색어: {{ search_query }}</p>

    {% if search_results %}
    <ul>
      {% for item in search_results %}
      <li>
        <strong>브랜드:</strong> {{ product_brand }}<br />
        <strong>제품명:</strong> {{ product_name }}<br />
        <strong>가격:</strong> {{ product_price }}<br />
        <strong>저장:</strong> {{ product_wish }}<br />
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>검색 결과가 없습니다.</p>
    {% endif %}
  </body>
</html>
